{% extends 'main/layout.html '%}

{% block content %}
    <div class="features">
        <h1>Работники</h1>
        {% for w in worker %}
        <div class="alert alert-warning">
            <h3>{{w.name}}</h3>
            <h5>Профессии:</h5>
            {% for wp in worker_prof %}
                {%if w == wp.worker%}
                    {% for p in prof %}
                        {%if p == wp.prof%}
                            <p>{{p.profession}}</p>
                        {%endif%}
                    {% endfor %}
                {%endif%}
            {% endfor %}
            <a href="{% url 'worker-detail' w.id %}" class="btn btn-warning">Читать детальнее о работнике</a>
        </div>
        {% endfor %}
    </div>
{% endblock %}
{% block title %}Работники{% endblock %}